<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>HackSos</title>
</head>
<body style="background-color: rgba(128, 128, 128, 0.678);">
  <%- include('partials/navBar') %>
    <div style="margin:2% 20% 0 20%;">
      <div  style="text-align: center;">
        <a class="btn btn-dark" href="/post/add">Add post</a>
      </div>
        <% postData?.forEach(post => {  %>
          <div class="card" style="width: 100%;">
            <img src="<%= post.imageURL %>" class="card-img-top" alt="">
            <div class="card-body">
              <% if(post.User.id === userData.id) { %> <a class="btn btn-danger" href="/post/delete/<%= post.id  %>">Delete</a> <a class="btn btn-warning" href="/post/edit/<%= post.id  %>">Edit</a> <% } %>
              <h5 class="card-title"><%= post.title %></h5>
              <h5 class="card-title"><%= post.User.Profile.name %></h5>
              <p class="card-text"><%= post.caption %></p>
              <p class="card-text">Likes: <%= post.likes %> <a class="btn btn-dark" href="/post/likes/<%= post.id %>">Like</a></p>
              <table class="table table-dark">
              <% post.Comments?.forEach(comment => { %>
                <tr>
                      <td><%= comment.User.Profile.name %> :</td>
                      <td><%= comment.content %></td>
                      <td><%= comment.likes %></td>
                    </tr>
                <% }) %>
              </table>
                <div>
                  <form action="/commend/add/<%= post.id  %>" method="post">
                    <input class="mb-3" type="text" name="content">
                    <button class="btn btn-dark" type="submit">Add comment</button>
                  </form>
                </div>
              </table>
            </div>
          </div>
        <% }); %>
    </div>
</body>
</html>